<a href="https://colab.research.google.com/github/SOMU1018/numpy/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a Pandas DataFrame from the following dictionary:
data = {
'Name': ['Alice', 'Bob', 'Carol'],
'Age': [24, 27, 22],
'Salary': [50000, 55000, 48000]
}
• Add a new column called Bonus which is 10% of the salary.

In [14]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Carol'],
    'Age': [24, 27, 22],
    'Salary': [50000, 55000, 48000]
}
df = pd.DataFrame(data)
df['Bonus'] = df['Salary'] * 0.10
print("DataFrame with Bonus column:")
print(df)

DataFrame with Bonus column:
    Name  Age  Salary   Bonus
0  Alice   24   50000  5000.0
1    Bob   27   55000  5500.0
2  Carol   22   48000  4800.0

2. Given the DataFrame created in the above question:
• Display the first two rows.
• Compute the mean salary.

In [ ]:
print("\nFirst two rows of the DataFrame:")
print(df.head(2))
mean_salary = df['Salary'].mean()
print("\nMean Salary:", mean_salary)

3. Using the same DataFrame:
• Extract all rows where the Age is greater than 25.
• Filter out rows where the Salary is less than 50000.

In [ ]:
age_filtered = df[df['Age'] > 25]
print("\nRows where Age > 25:")
print(age_filtered)
salary_filtered = df[df['Salary'] >= 50000]
print("\nRows where Salary >= 50000:")
print(salary_filtered)

4. Create the following DataFrame:
data = {
'A': [1, 2, None, 4],
'B': [None, 2, 3, None],
'C': [1, 2, 3, 4]
}
df = pd.DataFrame(data)
• Fill missing values in column A with the mean of the column.
• Drop rows where all values are None.

In [ ]:
data = {
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, None],
    'C': [1, 2, 3, 4]
}
df_missing = pd.DataFrame(data)
df_missing['A'].fillna(df_missing['A'].mean(), inplace=True)
df_missing = df_missing.dropna(how='all')
print("\nDataFrame after filling missing values and dropping rows with all None:")
print(df_missing)

5. Create a DataFrame for employees:
data = {
'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
'Employee': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
'Salary': [50000, 45000, 60000, 65000, 70000]
}
• Group the data by Department and compute the total and mean salary for each
department.

In [15]:
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Salary': [50000, 45000, 60000, 65000, 70000]
}
df_employees = pd.DataFrame(data)
grouped = df_employees.groupby('Department')['Salary'].agg(['sum', 'mean'])
print("\nGrouped Data by Department:")
print(grouped)

Grouped Data by Department:
               sum     mean
Department
Finance      70000  70000.0
HR           95000  47500.0
IT          125000  62500.0

6. Given two DataFrames:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Carol']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})
• Perform an inner join on the ID column

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Carol']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})
merged_df = pd.merge(df1, df2, on='ID', how='inner')
print("\nInner join result:")
print(merged_df)

7. Given a small dataset, clean and display basic statistics using Panda

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Carol', None],
    'Age': [24, 27, 22, None],
    'Salary': [50000, 55000, 48000, None]
}
df_cleaning = pd.DataFrame(data)
df_cleaning.fillna({'Name': 'Unknown', 'Age': df_cleaning['Age'].mean(), 'Salary': df_cleaning['Salary'].median()}, inplace=True)
print("\nCleaned DataFrame:")
print(df_cleaning)
print("\nBasic Statistics:")
print(df_cleaning.describe())

8. small EDA task
• Load the Titanic dataset (titanic.csv) into a Pandas DataFrame.
• Perform the following tasks:
o Display the number of missing values in each column.
o Find the average age of passengers.
o Create a bar plot to show the survival rate based on gender.

In [ ]:
import matplotlib.pyplot as plt
titanic_df = pd.read_csv('titanic.csv')
print("\nMissing values in each column:")
print(titanic_df.isnull().sum())
average_age = titanic_df['Age'].mean()
print("\nAverage Age of Passengers:", average_age)
survival_by_gender = titanic_df.groupby('Sex')['Survived'].mean()
survival_by_gender.plot(kind='bar', title='Survival Rate by Gender')
plt.ylabel('Survival Rate')
plt.show()

9. Data Transformation
• Load a dataset containing daily temperatures and dates. Perform the following:
o Convert the date column into a DateTime object.
o Create a new column that categorizes temperatures into High, Medium, or
Low.

In [16]:
temperature_data = {
    'Date': ['2024-12-20', '2024-12-21', '2024-12-22'],
    'Temperature': [30, 20, 15]
}
df_temp = pd.DataFrame(temperature_data)
df_temp['Date'] = pd.to_datetime(df_temp['Date'])
df_temp['Category'] = pd.cut(df_temp['Temperature'],
                             bins=[-float('inf'), 18, 25, float('inf')],
                             labels=['Low', 'Medium', 'High'])
print("\nTransformed Temperature DataFrame:")
print(df_temp)

Transformed Temperature DataFrame:
        Date  Temperature Category
0 2024-12-20           30     High
1 2024-12-21           20   Medium
2 2024-12-22           15      Low